ClientMetabolismo/src/META-INF/wsdl/localhost_8080/Metabolismo/FunzioniService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://MetaFunction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://MetaFunction/">

<xs:element name="inserisciAttivita" type="tns:inserisciAttivita"/>

<xs:element name="inserisciAttivitaResponse" type="tns:inserisciAttivitaResponse"/>

<xs:element name="inserisciGiornata" type="tns:inserisciGiornata"/>

<xs:element name="inserisciGiornataResponse" type="tns:inserisciGiornataResponse"/>

<xs:element name="inserisciPersona" type="tns:inserisciPersona"/>

<xs:element name="inserisciPersonaResponse" type="tns:inserisciPersonaResponse"/>

<xs:complexType name="inserisciAttivita">
<xs:sequence>
<xs:element name="arg0" type="xs:float"/>
<xs:element name="arg1" type="xs:float"/>
<xs:element name="arg2" type="xs:float"/>
<xs:element name="arg3" type="xs:float"/>
<xs:element name="arg4" type="xs:float"/>
<xs:element name="arg5" type="xs:float"/>
<xs:element name="arg6" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciAttivitaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="inserisciPersona">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciPersonaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="inserisciGiornata">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserisciGiornataResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>